#clockContainer{
    height: 50vw;
    width: 40vw;
    background:url(watchimg.png) no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
} 

#hour{
    width: 0.9%;
    height: 19.6%;
    top: 32.5%;
    left: 50%;
    
    position: absolute;
    border-radius: 10px;
    background: #000000;
    transform-origin: bottom;
    
}
#minute{
    width: 0.9%;
    height:24%;
    top: 28%;
    left: 50%;
    
    position: absolute;
    border-radius: 10px;
    background: black;
    transform-origin: bottom;
    
}
#second{
    width: 0.5%;
    height: 25%;
    top: 27%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background: black;
    transform-origin: bottom;
}